* {
  box-sizing: border-box;
}

body {
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
